In [2]:
import numpy as np
import pandas as pd

# Series is a one-dimensional labeled array capable of holding any data type

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [13]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
path = '../01 Introduction/voice.csv'
df = pd.read_csv(path, sep=',',skipinitialspace=True)

#### Selecting a single column, which yields a Series:

In [10]:
df['median']

0       0.032027
1       0.040229
2       0.036718
3       0.158011
4       0.124656
5       0.119090
6       0.160106
7       0.144337
8       0.138587
9       0.121451
10      0.168160
11      0.127527
12      0.124263
13      0.190953
14      0.191233
15      0.190874
16      0.207951
17      0.152807
18      0.145618
19      0.153569
20      0.177736
21      0.169299
22      0.145543
23      0.146053
24      0.144824
25      0.147018
26      0.186468
27      0.143168
28      0.141739
29      0.142385
          ...
3138    0.090199
3139    0.094248
3140    0.127325
3141    0.109478
3142    0.077886
3143    0.158892
3144    0.048191
3145    0.035114
3146    0.131882
3147    0.131889
3148    0.070063
3149    0.059358
3150    0.161298
3151    0.084335
3152    0.180932
3153    0.194116
3154    0.203796
3155    0.164388
3156    0.201622
3157    0.204104
3158    0.182534
3159    0.188980
3160    0.185970
3161    0.184277
3162    0.183434
3163    0.153707
3164    0.076758
3165    0.183731
3166    0.184976
3167    0.183044
Name: median, Length: 3168, dtype: float64

In [11]:
df[:3]

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male

In [14]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [15]:
df

                   A         B         C         D
2013-01-01  0.482743 -2.194460 -1.097168 -2.101873
2013-01-02  0.765607 -1.227514 -0.142402  0.516618
2013-01-03  0.109948 -0.582064  1.514800 -0.133640
2013-01-04  2.298501  0.299480  1.695936 -1.508300
2013-01-05  0.829380 -0.773568  0.317068  0.447842
2013-01-06  0.149722 -0.191552 -1.045187  0.197146